# Sensitive files
config/config.yaml
.env

# Compiled binaries
*.exe
*.out

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Virtual environment
env/

# Air config (for live reloading in Go)
.air.toml
